:root {
  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --primiry-white-color: #ffffff;
  --button-color: #4d5ae5;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primiry-white-color);
  color: var(--main-text-color);
  font-size: 16px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*Navigation*/
.color {
  background-color: var(--main-text-color);
}
.logo,
.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  text-decoration: none;
}
.logo {
  margin-right: 76px;
}
.accent {
  color: var(--button-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
  background-color: var(--primiry-white-color);
}
.navigation-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.navigation-tools,
.navigation {
  display: flex;
  align-items: center;
}
.navigation.list {
  display: flex;
  margin-left: 76px;
}
.navigation-link.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navigation-item:not(:last-child) {
  margin-right: 40px;
}
.adress.navigation-tools {
  margin-left: auto;
}
.adress.list {
  display: flex;
}
.adress-item:not(:last-child) {
  margin-right: 40px;
}
.adress-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
  background-color: var(--primiry-white-color);
}
/*Button*/

.button.primary {
  margin-bottom: 188px;
}
.buttons {
  list-style: none;
  margin-top: 96px;
  margin-bottom: 72px;

  display: flex;
}
/* Hero */
.hero {
  background-color: var(--main-text-color);
  text-align: center;
}
.hero-title {
  color: var(--primiry-white-color);
  font-size: 56px;
  line-height: 1.07;
  padding-top: 188px;

  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 48px;
}
.privileges-title {
  margin-bottom: 120px;
  margin-top: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button.primary {
  background-color: var(--button-color);
  color: var(--primiry-white-color);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 170px;
  text-align: center;
  border: 1px solid transparent;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: #404bbf;
  color: var(--primiry-white-color);
}
.button.secondary:not(:last-child) {
  margin-right: 24px;
}
.button.secondary {
  background-color: #f4f4fd;
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color: var(--button-color);
  padding: 12px 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button.primary:hover,
.button.primary:focus {
  background-color: #404bbf;
  color: var(--primiry-white-color);
}
/* Section Privileges*/

.privileges-list {
  display: flex;
}
.privileges-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.privileges-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.privileges-item {
  list-style: none;
  padding-left: 24px;
}

/* Section Examples works */

.examples-margin {
  margin-bottom: 120px;
}
.img-padding {
  padding-bottom: 120px;
}
.examles-item {
  display: flex;
}
.examples-img {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.examples-img:not(:last-child) {
  margin-right: 24px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}
/* Team consist */

.team,
.team-item,
.team-img {
  background-color: #f4f4fd;
  list-style: none;
}
.team-item {
  display: flex;
}
.team-img {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: var(--primiry-white-color);
  margin-right: 24px;
}
.team-img:nth-child(4n) {
  margin-right: 0px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.team-position {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/* Footer */
.footer {
  background-color: var(--main-text-color);
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  color: var(--primiry-white-color);
  text-decoration: none;
}
.logo-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 240px;
  height: 110px;
  margin-top: 16px;
}
